replicas: 1
roles:
  - master
  - ingest
  - data

nodes:
  - nodeName: "opensearch-node-0"
    extraEnvs:
      - name: OPENSEARCH_INITIAL_ADMIN_PASSWORD
        valueFrom:
          secretKeyRef:
            name: opensearch-admin
            key: admin-password

resources:
  requests:
    cpu: "500m"
    memory: "1Gi"
  limits:
    cpu: "1"
    memory: "2Gi"
